/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*
Generic styles
*/

body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 42pt;
    line-height: 42pt;
    letter-spacing: 2pt;
    margin: 1em 0;
    color: #FF0066;
    font-weight: 700;
}
a:hover {
    color: #FF0066;
}
span {
    display: none;
}
/*nav*/

header nav {
    float: right;
    margin: 2em 0;
}
nav ul {
    margin: 2em 3em;
    text-transform: uppercase;
}
nav li {
    margin: 5pt 0;
}
nav li a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 14pt;
    line-height: 14pt;
}


/*home*/

header.intro-holder {
    background: url(../images/background-header.jpg) top center no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center 0;
}
header div.intro {
    width: 100%;
    height: 200px;
    top: 70%;
    margin-top: 20px;
    text-align: left;
    position: absolute;
    color: #fff;
    margin: 0 5%;
}
header div.intro img {
    width: 400px;
}
div.intro p {
    text-transform: uppercase;
}
header div.intro h1 {
    font-size: 60pt;
    line-height: 60pt;
    font-weight: 700;
}
header div.intro p {
    margin: 0 0 0 2.5em;
    font-size: 18pt;
    line-height: 18pt;
    letter-spacing: 0.5px;
    font-weight: 300;
}

/*section bio*/

section.about {
    padding: 30px 10% 80px;
}
section.about p {
    text-transform: none;
    font-size: 14pt;
    line-height: 16pt;
    margin: 1em 0;
}

/*section music*/

section.music {
    padding: 30px 10% 110px;
    background-color: #000;
}
section.music iframe {
    display: block;
    margin: 0 auto;
    width: 96%;
    height: 560px;
}
/*section media*/

.container.even.photos {
    background-color: #f6f7f7;
}
section.container {
    padding: 0 0 3em 6%;
    overflow: auto;
}
section.container div.column {
    float: left;
    width: 30%;
    margin-right: 2%;
}
section.container div.column img {
    width: 100%;
    margin: 1.5em auto;
    height: auto;
    display: block;
}
section.container div.column.last {
    margin: 0;
}

/*section concerts*/

section.concerts {
    padding: 15px 10% 40px;
    text-align: center;
    background-color: #000;
    color: #fff;
    background: transparent url("../images/background-opacity.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center 0;
}
section.concerts ul {
    float: left;
    margin: 1em 0.5em;
}
section.concerts li {
    margin: 2em 0;
    padding: 0 15px 0 0;
}
section.concerts h2 {
    text-transform: uppercase;
    font-size: 18pt;
    line-height: 18pt;
}
section.concerts p {
    margin: 1em 0;
    font-size: 16pt;
    line-height: 16pt;
}

/*footer*/

footer  {
    padding: 30px 10% 60px;
    background-color: #000;
    color: #fff;
    text-align: center;
}
footer a {
    color: #fff;
}
a.btn {
    border: solid 2px #fff;
    padding: 1em 3%;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    margin-bottom: 2em;
    display: inline-block;
    text-align: center;
}
a.btn:hover {
    border: solid 2px #FF0066;
}
footer li {
    display: inline-block;
}
footer li a {
    font-size: 45px;
    line-height: 47px;
    margin: 0 0.5em;
}
a.icon-twitter3 {
    font-size: 46px;
}
a.icon-facebook3:hover {
    color: #3b5998;
}
a.icon-twitter3:hover {
    color: #55acee;
}