<header class="intro-holder" id="home">
  <nav>
    <ul>
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="#bio">Bio</a>
      </li>
      <li>
        <a href="#music">Música</a>
      </li>
      <li>
        <a href="#media">Media</a>
      </li>
      <li>
        <a href="#dates">Conciertos</a>
      </li>
      <li>
        <a href="#contact">Contacto</a>
      </li>
    </ul>
  </nav>
  <div class="intro">
      <img src="/images/nanda-logo-white.png" alt="Logo Nanda">
      <p>Cantante / Compositora</p>
      <ul class="contact">
          <li>
              <a class="icon-facebook3" href="https://www.facebook.com/nandasolounavez/?fref=ts" target="_blank"></a>
              <span>Facebook</span>
          </li>
          <li>
              <a class="icon-twitter3" href="https://twitter.com/nanda_musica" target="_blank"></a>
              <span>Twitter</span>
          </li>
      </ul>
  </div>
</header>
